<div class="container col-lg-12">
  <h1 class="text-center"> Please Select </h1>
  <div class="row ">
    <div class="d-flex justify-content-between" >
      <div>
        <img class="image" src="assets/images/strawberry.jpeg" alt="">
        <h4 class="description">Strawberry</h4>
      </div>
      <button (click)="toggle('strawberry')" class="btn btn-dark col-2 my-auto"> Add </button>
    </div>
  </div>

  <div class="row ">
    <div class="d-flex justify-content-between" >
      <div>
        <img class="image" src="assets/images/apple.jpeg" alt="">
        <h4 class="description pl-2">Apple</h4>
      </div>
      <button (click)="toggle('apple')" class="btn btn-dark col-2 my-auto"> Add </button>
    </div>
  </div>

  <div class="row ">
    <div class="d-flex justify-content-between" >
      <div>
        <img class="image" src="../../assets/images/kiwi.jpeg" alt="">
        <h4 class="description">Kiwi</h4>
      </div>
      <button (click)="toggle('kiwi')" class="btn btn-dark col-2 my-auto"> Add </button>
    </div>
  </div>

  <div class="row ">
    <div class="d-flex justify-content-between" >
      <div>
        <img class="image" src="assets/images/pineapple.jpeg" alt="">
        <h4 class="description">Pineapple</h4>
      </div>
      <button (click)="toggle('pineapple')" class="btn btn-dark col-2 my-auto"> Add </button>
    </div>
  </div>
</div>
