/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.image{
  width: 120px;
  height: 120px;
}
.btn{
  height: 40px;
  vertical-align: middle;
}
.row{
  border: 1px solid steelblue;
}

.description{
  display: inline-block;
  margin-left:10px;
}
